---
import { Button } from "@/components/ui/button";
import ProjectsCard from "./ProjectsCard.astro";
---

<!-- Section container -->
<section id="projects" class="w-full h-full py-6 md:py-24 lg:py-32">

	<!--  Div container of content  -->
    <div class="flex flex-col items-center justify-center gap-3 container w-full">

		<!-- Content header -->
        <h1 class="text-xl md:text-3xl flex h-full w-full items-center text-neutral-500 font-bold tracking-tight text-center pb-4 before:mr-4 before:block before:h-px before:flex-grow before:bg-neutral-500 after:ml-4 after:block after:h-px after:flex-grow after:bg-neutral-500">
			My Projects
		</h1>
        
        <div class="mt-24 w-full flex flex-col md:grid md:grid-cols-2 gap-12 md:gap-20">
            <ProjectsCard 
                cardTitle="Record Rack" 
                cardImage="/recordrack.png" 
                cardLinkDesc="recordrack.ca"
                cardLink="https://recordrack.ca/alextaveras2/" 
                cardDesc=`A progressive web app that lets you 'collect' your favorite albums and tracks through Spotify API integration. Then, you can follow other users, and engage with their collections by leaving likes!`
                cardTechnologies=".NET 8, PostgreSQL, React, TypeScript, Tailwind CSS, Docker, AWS, GitHub Actions"
            />

            <ProjectsCard 
                cardTitle="OMG Mobile App" 
                cardImage="/omgmobile.png" 
                cardLink="/OMGMobilePresentation.pdf"
                cardLinkDesc="OMG Mobile Presentation"
                cardDesc="My university capstone project developed for a local client. Uses Dart and Flutter for cross-platform functionality, with Firebase integration for real-time analytics and user authentication. Final grade of 96%." 
                cardTechnologies="Dart, Flutter SDK, Firebase (Firestore, Cloud Functions), JavaScript"
            />
            <ProjectsCard 
                cardTitle="Gen-EVA" 
                cardImage="/gen-eva.png" 
                cardLink="#projects" 
                cardLinkDesc="N/A"
                cardDesc="Generative Enterprise Virtual Assistant, an AI tool designed for a Microsoft-sponsored hackathon. Built to enhance the Ontario Public Service career portal, enabling natural language searches and resume scanning for quicker searches. Won 3rd place in it's category." 
                cardTechnologies="Azure AI, OpenAI GPT-4 LLM, .NET 8"
            />

            <ProjectsCard 
                cardTitle="Perlin Noise Minecraft Sim" 
                cardImage="/perlin.png" 
                cardDesc="A Unity game developed for my Computer Graphics course at Trent. It lets you generate and manipulate Minecraft-style terrains using the Perlin Noise algorithm, transforming wavelengths into dynamic 3D landscapes."
                cardLinkDesc="Live Demo"
                cardLink="https://ataverascrespo.itch.io/minecraft-perlin-noise" 
                cardTechnologies="C#, Unity, WebGL"
            />
        </div>

        

    </div>	<!--  Div container of content  -->
</section>

<script>
	//Callback function for intersectionObserver API
	const callback = function (entries: any) {
		entries.forEach((entry: any) => {
			if (entry.isIntersecting) {
				entry.target.classList.add("animate-slideInUp");
			}
		});
	};

	//Create an observer
	const observer = new IntersectionObserver(callback);

	//Observe when the selected element enters viewport
	document.querySelectorAll(".slideIn").forEach(function (target) {
		observer.observe(target);
	});
</script>