---
import { Prism } from '@astrojs/prism';
import HobbiesSkills from './HobbiesSkills.astro';
import { Button } from '../ui/button';
---

<!-- Section container -->
<section id="about" class="w-full h-full py-12 md:py-24 lg:py-32">

	<!--  Div container of content  -->
    <div class="flex flex-col items-center justify-center gap-12 md:gap-24 container w-full">

		<!-- Content header -->
        <h1 class="text-xl md:text-3xl flex w-full items-center text-neutral-500 font-bold tracking-tight text-center pb-4 before:mr-4 before:block before:h-px before:flex-grow before:bg-neutral-500 after:ml-4 after:block after:h-px after:flex-grow after:bg-neutral-500">About Me</h1>
        
		<!-- About me section, text and image MOBILE-->
		<div class="flex md:hidden slideIn flex-col justify-center items-center w-full gap-12 ">

			<!-- About me text -->
			<div class="flex flex-col w-full gap-8">
				<p class="text-2xl font-bold">
					Hey, I'm Alex 👋
				</p>
				<!-- Image of me -->
				<div class="w-full sm:w-2/3 pr-0">
					<img
					alt="picture of me"
					src="/profile-pic.jpg"
					class="img rounded-xl"
				></div>
			</div>

			<!-- About me text -->
			<div class="flex flex-col w-full gap-8">
				
				<p class="text-lg">
					I'm a Software Developer with experience in enterprise application development, DevOps, and data integration. I'm currently helping fight financial crime at <span class="text-[#009fc2] font-bold">Nasdaq Verafin</span>!
				</p>
				<p class="text-base">
					 I have developed a strong foundation in software design/development and cloud infrastructure. I've developed solutions using a wide range of languages, frameworks, and tools, including Java, C#, Python, TypeScript, .NET, Shell scripting, Flutter, AWS, Azure, Docker, and Git.
				</p>
			</div>

		</div> <!-- Content text and image -->

		<!-- About me section, text and image DESKTOP-->
		<div class="hidden md:flex slideIn flex-col md:flex-row-reverse justify-center items-center w-full gap-12 ">

			<!-- About me text -->
			<div class="flex flex-col w-full gap-8">
				<p class="text-3xl xl:text-4xl font-bold">
					Hey, I'm Alex 👋
				</p>
				<p class="text-lg xl:text-2xl">
					I'm a Software Developer with experience in enterprise application development, DevOps, and data engineering. I'm currently helping fight financial crime at <span class="text-[#009fc2] font-bold">Nasdaq Verafin</span> as a Senior Software Developer!
				</p>
				<p class="text-base xl:text-xl">
					 I have developed a strong foundation in software design/development and cloud infrastructure. I've developed solutions using a wide range of languages, frameworks, and tools, including Java, C#, Python, TypeScript, .NET, Shell scripts, Scala, Flutter, AWS, Azure, Docker, and Git.
				</p>
			</div>
		
			<!-- Image of me -->
			<div class="w-full pr-0 lg:pr-8 md:w-2/3 lg:w-1/2">
				<img
				alt="picture of me"
				src="/profile-pic.jpg"
				class="img rounded-xl"
			>
			</div>
		</div> <!-- Content text and image -->

		<div class="slideIn flex flex-col text-left w-full h-full gap-4">
			<!--  Buttons div -->
			<div class="flex flex-row justify-center sm:justify-start gap-2 w-full h-16">
				<Button variant={"secondary"} size={"sm"} className="w-full h-full hover:-translate-y-1 duration-200 transition-all hover:shadow-md">
					<a href="https://github.com/ataverascrespo" class="w-full h-full flex flex-row gap-2 items-center justify-center p-4">
						<p class="hidden md:block">GitHub</p>
						<img src="/github.svg" alt="github" />
					</a>
				</Button>
				<Button variant={"secondary"} size={"sm"} className="w-full h-full hover:-translate-y-1 duration-200 transition-all hover:shadow-md">
					<a href="https://www.linkedin.com/in/alex-taveras-crespo/" class="w-full h-full flex flex-row gap-2 items-center justify-center p-4">
						<p class="hidden md:block">LinkedIn</p>
						<img src="/linkedIn.svg" alt="linkedin" />
					</a>
				</Button>
				<Button variant={"secondary"} size={"sm"} className="w-full h-full hover:-translate-y-1 duration-200 transition-all hover:shadow-md">
					<a href="https://blog.alextaverascrespo.ca/" class="w-full h-full flex flex-row gap-2 items-center justify-center p-4">
						<p class="hidden md:block">Hashnode</p>
						<img class="h-[18px] w-[18px]" src="/hashnode-small.png" alt="hashnode" />
					</a>
				</Button>
			</div>	<!-- Buttons div -->
		</div>

		<div class="w-full">
			<HobbiesSkills></HobbiesSkills>
		</div>

    </div>	<!--  Div container of content  -->
</section>

<script>
	//Callback function for intersectionObserver API
	const callback = function (entries: any) {
		entries.forEach((entry: any) => {
			if (entry.isIntersecting) {
				entry.target.classList.add("animate-slideInUp");
			}
		});
	};

	//Create an observer
	const observer = new IntersectionObserver(callback);

	//Observe when the selected element enters viewport
	document.querySelectorAll(".slideIn").forEach(function (target) {
		observer.observe(target);
	});
</script>