---
import { Button } from "@/components/ui/button";

---

<!-- Overall section container -->
<section id="home" class="w-full h-[90vh] py-12 md:py-32 xl:py-48 container flex flex-col justify-center md:justify-start">
    <div>
      <!-- Div container for hero content -->
      <div class="flex flex-row items-center justify-center md:justify-start">

        <!-- Hero header / text -->
        <div class="zoomIn flex flex-col justify-center text-center md:text-left md:gap-4">
            <h1 class="text-3xl sm:text-5xl lg:text-7xl xl:text-8xl font-bold tracking-tight leading-loose animate-text bg-gradient-to-r from-emerald-500 via-purple-500 to-red-500 bg-clip-text text-transparent">
                Alex Taveras-Crespo
            </h1>
            <!-- Paragraph with type writer effect -->
            <p class="text-xl xl:text-5xl font-extralight ">
              I'm a 
              <!-- Type writer effect span -->
              <span id="header"></span>
            </p>   

            <!-- Div for buttons -->
            <div class="flex flex-col sm:flex-row gap-2 mt-3">
              <Button variant={"secondary"} size={"sm"} className="w-full sm:w-1/2 lg:w-1/5 hover:-translate-y-1 duration-200 transition-all hover:shadow-md">
                <a href="https://github.com/ataverascrespo" class="flex flex-row gap-2 items-center p-4">
                  <p>Find me on</p>
                  <img src="/github.svg" alt="github">
                </a>
              </Button>
              <Button variant={"secondary"} size={"sm"} className="w-full sm:w-1/2 lg:w-1/5 hover:-translate-y-1 duration-200 transition-all hover:shadow-md">
                <a href="https://www.linkedin.com/in/alex-taveras-crespo/" class="flex flex-row gap-2 items-center p-4">
                  <p>Connect via</p>
                  <img src="/linkedIn.svg" alt="github">
                </a>
              </Button>
            </div> <!-- Div for buttons -->
        </div> <!-- Hero header / text -->
      </div> <!-- Div container for hero content -->
    </div>
</section> <!-- Overall section container -->

<script>
	//Callback function for intersectionObserver API
	const callback = function (entries: any) {
		entries.forEach((entry: any) => {
			if (entry.isIntersecting) {
				entry.target.classList.add("animate-zoomIn");
			}
		});
	};

	//Create an observer
	const observer = new IntersectionObserver(callback);

	//Observe when the selected element enters viewport
	document.querySelectorAll(".zoomIn").forEach(function (target) {
		observer.observe(target);
	});
</script>

<script>
  // Code retrieved from https://tailwindflex.com/samuel33/typewriter-effect. Thanks Sam for the great effect.

  // Define the typewriter words
  const words = ["Software Developer", "coding enthusiast", "problem solver", "lifelong learner"];
  let i = 0;
  let j = 0;
  let currentWord = "";
  let isDeleting = false;
  
  function type() {
    currentWord = words[i];
    if (isDeleting) {
      // If in deleting mode, update the text content by removing the last character
      document.getElementById("header")!.textContent = currentWord.substring(0, j-1);
      j--;
      // Check if all characters have been deleted
      if (j == 0) {
        isDeleting = false;
        i++;
        // Reset to the first word if we've reached the end of the array
        if (i == words.length) {
          i = 0;
        }
      }
    } else {
      // If not in deleting mode, add the next character to the text content
      document.getElementById("header")!.textContent = currentWord.substring(0, j+1);
      j++;
      
      // Check if the current word is fully typed
      if (j == currentWord.length) {
        isDeleting = true;
      }
    }
    setTimeout(type, 100);
  }
  
  type();
  </script>