---
import '@/styles/globals.css'
import { Button } from "@/components/ui/button"
---

<nav class="sticky top-0 bg-neutral-950 border-b-2 shadow-lg border-neutral-950">
    <div class="max-w-screen-xl container flex flex-row flex-wrap items-center justify-center p-4">
       
        <div>
            <!-- About me Button -->
            <Button variant={"ghost"} size={"lg"}>
                <a href="#about" class="text-lg font-medium text-white tracking-tight">About Me</a>
            </Button>

            <!-- Projects Button -->
            <Button variant={"ghost"} size={"lg"}>
                <a href="#projects" class="text-lg font-medium text-white tracking-tight">Projects</a>
            </Button>

            <!-- Contact Button -->
            <Button variant={"ghost"} size={"lg"}>
                <a href="#contact" class="text-lg font-medium text-white tracking-tight">Contact</a>
            </Button>
        </div>
    </div>
</nav>