---
import { Button } from "@/components/ui/button";
import ProjectsCard from "./ProjectsCard.astro";
---

<!-- Section container -->
<section id="projects" class="w-full h-full py-12 md:py-24 lg:py-32 shadow-md svg bg-layer">

	<!--  Div container of content  -->
    <div class="flex flex-col items-center justify-center gap-3 container w-full">

		<!-- Content header -->
        <h1 class="text-2xl sm:text-3xl lg:text-4xl xl:text-5xl flex w-full items-center text-white font-bold text-center pb-4 before:mr-4 before:block before:h-px before:flex-grow before:bg-white after:ml-4 after:block after:h-px after:flex-grow after:bg-white">
            My Projects
        </h1>

        <h2 class="text-xl md:text-2xl">Here are some of my projects to date!</h2>

        
        <div class="mt-24 w-full grid grid-cols-1 md:grid-cols-2 gap-12">
            <ProjectsCard 
                cardTitle="Record Rack" 
                cardImage="/recordrack.png" 
                cardLink="/projects/record-rack" 
                cardTechnologies=".NET 7, PostgreSQL, React, TypeScript, Tailwind CSS, Docker, AWS, Nginx"
                cardTransition="record-rack image">
            </ProjectsCard>

            <ProjectsCard 
                cardTitle="OMG Mobile App" 
                cardImage="/omgmobile.png" 
                cardLink="/projects/omg-mobile" 
                cardTechnologies="Dart, Flutter SDK, Firebase (Firestore, Cloud Functions), JavaScript"
                cardTransition="omg-mobile image">
            </ProjectsCard>

            <ProjectsCard 
                cardTitle="Perlin Noise Minecraft Sim" 
                cardImage="/perlin.png" 
                cardLink="/projects/perlin-noise-minecraft" 
                cardTechnologies="C#, Unity, WebGL"
                cardTransition="perlin-noise image">
            </ProjectsCard>

            <ProjectsCard 
                cardTitle="C Directory File Scan" 
                cardImage="/file-scan.png" 
                cardLink="/projects/directory-file-scan" 
                cardTechnologies="C, Linux"
                cardTransition="file-scan image">
            </ProjectsCard>


        </div>

        

    </div>	<!--  Div container of content  -->
</section>

<style>
    .svg {
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .bg-layer {
        background-image: url('./layer2.svg')
    }
</style>

<script>
	//Callback function for intersectionObserver API
	const callback = function (entries: any) {
		entries.forEach((entry: any) => {
			if (entry.isIntersecting) {
				entry.target.classList.add("animate-slideInUp");
			}
		});
	};

	//Create an observer
	const observer = new IntersectionObserver(callback);

	//Observe when the selected element enters viewport
	document.querySelectorAll(".slideIn").forEach(function (target) {
		observer.observe(target);
	});
</script>