---
import Layout from '../../layouts/Layout.astro';
import '@/styles/globals.css'
import ProjectsPage from '@/components/ProjectsPage.astro';
---

<Layout title="Alex Taveras-Crespo - Directory Scan">
    <p id="header" class="hidden"></p>
    <ProjectsPage
        pageTitle='C Directory File Scan'
        pageImage='/file-scan.png'
        pageAlt='C File Scan'
        pageTechnologies='C, Linux'
        pageLinkOne='https://github.com/ataverascrespo/directory-file-scan'
        pageLinkOneText='GitHub Repo'
        pageLinkTwo=''
        pageLinkTwoText=''
        pageDescription=`This project was created for the Systems Programming course at Trent University.  I'll admit, compared to some of my peers, I'm for sure not a wizard with C. But this assignment was a lot of fun and made me enjoy figuring out solutions for low-level tasks like this. <br><br> The task of this assignment was to pass a target directory to the command line, which would then return 4 files meeting specific criteria (i.e largest or youngest). It prints them in ls -l format. `
        pageTransition='file-scan image'>
    </ProjectsPage>
</Layout>
