---
import Layout from '../../layouts/Layout.astro';
import '@/styles/globals.css'
import ProjectsPage from '@/components/ProjectsPage.astro';
---

<Layout title="Alex Taveras-Crespo">
    <p id="header" class="hidden"></p>
    <ProjectsPage
        pageTitle='Gen-EVA'
        pageImage='/gen-eva.png'
        pageAlt='gen-eva'
        pageTechnologies='Azure AI Search Index, OpenAI GPT-4 LLM, .NET 8, Cosmos DB, Azure VM, Power Apps'
        pageLinkOne=''
        pageLinkOneText=''
        pageLinkTwo=''
        pageLinkTwoText=''
        pageDescription=`Gen-EVA is a project that was created for the 5th annual Ontario Public Service / Microsoft-sponsored hackathon. My group of 3 and I created Gen-EVA to serve as an AI supplementary/replacement tool for the existing OPS internal career portal. We placed 3rd in the 'User-Centric' category! <br><br>
        
        The existing OPS internal career portal is rigid and slow, only allowing users to search with fixed-input parameters, and only showing position titles in the results. With 600+ jobs at any given moment, it meant employees would have to comb through each position to find one they like. We identified that natural language prompts, plus resume scanning, would allow AI to find ONLY the most relevant positions for a given user, saving them hours, if not days, when searching for jobs. <br><br>
        
        To create this project, we followed the Retrieval Augmented Generation (RAG) architecture. I stored job data in an Azure Blob Storage instance, which was then interpreted and converted into vector data in an Azure Cosmos DB. That vector data powers the semantic search and vector search capabilities of an Azure AI Search Index. The search index powers an OpenAI GPT-4 LLM, which the user can interact with from a Power Apps front-end via GET and POST requests to a custom-coded .NET 8 REST API. `
        pageTransition='gen-eva image'>
    </ProjectsPage>
</Layout>


