---
import Layout from '../../layouts/Layout.astro';
import '@/styles/globals.css'
import { Button } from '@/components/ui/button';

---

<Layout title="Alex Taveras-Crespo">
    <p id="header" class="hidden"></p>

    <div class="w-full h-full md:h-screen flex flex-col items-center justify-center bg-neutral-900 py-24 xl:py-0">
        <div class="w-full h-full flex flex-col container justify-center items-center gap-12">
            <div class="flex flex-col justify-center items-center gap-8">
                <div class="flex flex-col justify-center items-center gap-6">
                    <!-- Project Image -->
                    <img 
                    transition:name={`omg-mobile image`}
                    src="/omgmobile.png" 
                    alt="omg-mobile"
                    class="w-full md:w-[50%] rounded-lg shadow-xl">
                    
                    <div class="w-full md:w-1/2 flex flex-row gap-4">
                        <!-- Project links -->
                        <a href="/OMGMobilePresentation.pdf" class="w-full flex flex-row gap-2 items-center">
                            <Button variant={"secondary"} size={"sm"} className="w-full  hover:-translate-y-1 duration-200 transition-all hover:shadow-md">
                                OMG Mobile Presentation
                            </Button>
                        </a>
                    </div>
                </div>


                <div class="w-full flex flex-col gap-2 items-center text-center">
                    <!-- Name -->
                    <h1 class="text-3xl md:text-6xl font-extrabold">OMG Mobile App</h1>
                
                    <div class="flex flex-col gap-6 items-center ">
                        <!-- Technologies used -->
                        <h2 class="text-xl md:text-2xl font-normal text-neutral-600">Dart, Flutter, Firebase (Firestore, Cloud Functions), JavaScript, Stripe API </h2> 
                        <!-- Description -->
                        <p class="font-normal text-lg md:text-xl leading-relaxed max-w-4xl">
                            OMG Mobile is a cross-platform, modern mobile app created for a local restaurant client, delivered as part of COIS 4000Y: Software Engineering's capstone group project at Trent University. The client was looking to improve their online presence, increase customer retention, and stay competitive.
                        </p>
                        <!-- Description -->
                        <p class="font-normal text-lg md:text-xl leading-relaxed max-w-4xl">
                            I won't lie - between a TA job, ~20 hours/wk of software dev work, and 9 other courses, this was a tough project. But it felt so satisfying watching it grow and adding big contributions to such a meaningful product. After 8 months of work, both the client and our professor were extremely impressed with the final product - resulting in a final grade of 96% in the course. 
                        </p>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</Layout>
