---
import Layout from '../../layouts/Layout.astro';
import '@/styles/globals.css'
import ProjectsPage from '@/components/ProjectsPage.astro';
---

<Layout title="Alex Taveras-Crespo - OMG Mobile">
    <p id="header" class="hidden"></p>
    <ProjectsPage
        pageTitle='OMG Mobile'
        pageImage='/omgmobile.png'
        pageAlt='omg-mobile'
        pageTechnologies='Dart, Flutter, Firebase (Firestore, Cloud Functions), JavaScript, Stripe API'
        pageLinkOne='/OMGMobilePresentation.pdf'
        pageLinkOneText='Project Slideshow'
        pageLinkTwo='https://www.youtube.com/watch?v=3-UOjXQqncM'
        pageLinkTwoText='Demo Video'
        pageDescription=`OMG Mobile is a mobile app developed for a local restaurant client, delivered as part of COIS 4000Y: Software Engineering's capstone group project at Trent University. The client was looking to improve their online presence, increase customer retention, and stay competitive.<br><br>

        This project uses Dart and the Flutter framework to deliver a high-performance, cross-platform app. Firebase integration allows us to have real-time data querying, and also facilitates user authentication and cloud messaging. Additionally, Firebase Cloud Functions handle some backend operations in a serverless environment, similar to AWS Lambda. <br><br>
        
        Inspired by the Model-View-Controller (MVC) pattern with dependency injection, OMG Mobile has an organized and maintainable codebase through the use of good architectural practices. After 8 months of development, with around 20 hours per week (on top of part-time software development at my job, being a TA, and 8 other courses), I ended up getting a 96% in the course, with a 10/10 satisfaction rating from both the client and our professor. `
        pageTransition='omg-mobile image'>
    </ProjectsPage>
</Layout>
