---
import Layout from '../../layouts/Layout.astro';
import '@/styles/globals.css'
import ProjectsPage from '@/components/ProjectsPage.astro';

---

<Layout title="Alex Taveras-Crespo">
    <p id="header" class="hidden"></p>
    <ProjectsPage
        pageTitle='Minecraft Perlin Noise Simulator'
        pageImage='/perlin.png'
        pageAlt='Perlin Noise Minecraft'
        pageTechnologies='C#, Unity, WebGL'
        pageLinkOne='https://ataverascrespo.itch.io/minecraft-perlin-noise'
        pageLinkOneText='Live Demo'
        pageLinkTwo='https://github.com/ataverascrespo/PerlinNoiseTerrain'
        pageLinkTwoText='GitHub Repo'
        pageDescription=`This is a Unity game which allows the user to generate and manipulate a Minecraft-style terrain with mountains, valleys, and water bodies, which I created as my end-of-course project for COIS 4480: Computer Graphics at Trent University. This was one of my favourite academic projects, I learned a lot about algorithms in the application of interactive media and video games. <br><br>
   
        It implements the Perlin Noise algorithm, which takes a flat plane of blocks and gives each row (x) a wavelength, and each column (z) a wavelength. Those wavelengths are gradually consistent with neighbouring rows/columns, which creates the illusion of a height map. That's right - this is a 2D height map constructed to algorithmically create 3D terrain!`
        pageTransition='perlin-noise image'>
    </ProjectsPage>
</Layout>
